/* Inserta tu codigo aqui */
*img {
	width: 100%;
}
header {
	background-color: #1b1821;
}
header ul, li, a {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	margin-top: 7px;
	color: white;
}
header  a {
	padding: 0% 5px;
	font-family: italic;
}

.col-9 {
	text-align: right;
}
header 
.col-3 img {
	width: 100%;
}
/*section*/
.bg-plomo {
	background-color: #2d2735;
}
.bg-plomo .row {
	padding-top: 20px;
}
.bg-img1 {
	background: url("../image/header-image.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	color: white;
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 80px;

	
}
h1 {
	color: orange;
	font-size: 30px;
	font-family: italic;

}
.spring-come {
	background-color: black;
	margin: 0px 180px;
	padding-bottom: 30px;
	padding-top: 50px;
	

}

/*flores pequeñas*/
.flor img{
	width: 100%;
}
.flor {
	display: inline-block;


}
.mg-0 {
	margin: 0 auto;
	padding: 0 auto;
}

/*kew garden row 2*/
.col-7 img {
	width: 100%;
}

.col-5 img {
	width:100%;
}
.fa {
	color: #fff;
	background-color:black; 
	border-radius: 50px;
	width: 20%;
	text-align: center;
}
/*footer*/
footer p {
	text-align: center;
	color: white;
}
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
